[submodule "PersonalProjects"]
	path = PersonalProjects
	url = git@github.com:SethBennett2523/PersonalProjects.git
[submodule "UWE-FSAI"]
	path = UWE-FSAI
	url = git@github.com:SethBennett2523/SethFSAI.git
[submodule "PortfolioSite"]
	path = PortfolioSite
	url = git@github.com:SethBennett2523/AboutMe.git
